*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    line-height: 1.5;
}
.container{
    max-width: 1200px;
    margin:0 auto;
    padding:0 32px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-1-2{
    flex: 0 1 45%;
}
.align-start {
    align-items: flex-start;
}

/* Header */
.topheader{
    position: fixed;
    top: 0;
    width:100%;
    padding: 16px 0;
    background-color: #ffffff;
}
.proinsure{
    font-family: 'DM Serif Display', serif;
    font-size: 36px;
    color: #2d2640;
    text-decoration: none;
    font-weight: 700;
}
.links a{
    color:#6e6b74;
    font-size: 20px;
    font-family: 'Karla', sans-serif;
    margin-left: 32px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}
a:hover{
    color: #2d2640;
}

/* Button */
.button{
    padding: 12px 18px;
    border: 1px solid #6e6b74;
    color: #6e6b74;
    border-radius: 3px;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Karla', sans-serif;
}
.button:hover{
    background-color: #2d2640;
    color:#ffffff;
}
.button-two{
    color:#ffffff;
    border: 1px solid white;
    text-transform: uppercase;
    text-decoration: none;
}
.button-two:hover{
    background-color: #ffffff;
    color: #2d2640;
}
.button-three{
    color:#6e6b74;
    text-transform: uppercase;
    text-decoration: none;
}
.button-three:hover{
    background-color: #2d2640;
    color: white;
}

/* Content - First */
.content1{
    background-color: #2d2640;
    color: #ffffff;
    margin-top: 88px;
    padding: 60px 0;
}
.line{
    width: 200px;
    height: 2px;
    background-color: #bcb8c4;
}
.first-heading{
    font-size: 56px;
    margin-top: 16px ;
    line-height: 1.1;
    font-family: 'DM Serif Display ', serif;
}
.first-para{
    color: #bcb8c4;
    margin: 32px 0;
    font-size: 18px; 
    font-family:'Karla', sans-serif;  
}
.first-img{
    margin-bottom: -160px;
}
.img{
    width:100%;
}

/* Content - Second */
.margin {
    margin-top: 80px;
}
.padding{
    padding: 80px 0;
}
.second-heading{
    font-size: 48px;
    color: #2d2640;
    font-family: 'DM Serif Display ', serif;
}
.second-para {
    color: #6e6b74;
    margin: 32px 0;
    font-size: 18px;
    font-family: 'Karla', sans-serif;
}

/* Content - Third */
.third {
    background-color: #2d2640;
    padding: 80px 60px;
}
.block {
    margin-bottom: 40px;
}
.block1{
    font-size: 32px;
    text-transform: capitalize;
    margin: 24px 0 8px 0;
    font-family: "DM Serif Display", serif;
    color: #2d2640;
}
.flex-1-3 {
    flex: 0 1 30%; 
}
.third-para {
    color: #6e6b74;
    margin: 32px 0;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}
.icon{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #8ab4f0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

 /*Content - Last*/
.fourth-heading {
    font-size: 44px;
    margin-top: 16px;
    line-height: 1.1;
    color: #ffffff;
    font-family: 'DM Sans', sans-serif;
}

/* Footer */
.footer{
    margin-top: 60px;
    font-family: 'Karla', sans-serif;
}
.line2{
    border-bottom: 1px solid #6e6b74;;
}
.proinsure2{
    font-family: 'DM Serif Display', serif;
    font-size: 36px;
    color: #000000;
    text-decoration: none;
    font-weight: 700;
}
.links a{
    color:#6e6b74;
    font-size: 20px;
    font-family: 'Karla', sans-serif;
    margin-left: 32px;
    text-decoration: none;
    text-transform: uppercase;
}
.footer-nav {
    text-align: center;
    padding: 24px 0;
}
.copyright-info {
    text-align: center;
    background-color: #2d2640;
    color: #cbc0c9;
    font-size: 20px;
    padding: 32px 0;
}
.facebook-twitter {
    font-size: 26px;
}